<html>
	<head>
		<title>
			Tam's Pizzeria
		</title>
		<meta charset="UTF-8">
		<!--link rel="canonical" href="http://tams.pizza/articles/(article)">!--> <!-- Also add new page to sitemap.xml in root -->
		<link rel="stylesheet" href="./../../style.css">
	</head>
	<body>
		<div class="wrap">
			<div class="top">
				<span>
					tam's pizzeria
				</span>
			</div>

			<div class="path">
				<a href="./../../">
					tam's pizzeria
				</a>
			</div>
			<div class="menu">
				menu
				<a href="./../../">
					back
				</a>
				<a href="./../../servers/">
					servers
				</a>
				<a href="./../../meet/">
					staff
				</a>
				<br>
				<a href="./../../discord/">
					discord
				</a>
				<a href="./../../stats/">
					stats
				</a>
			</div>
			<div class="content">
				<div class="contentbox">
					<div class="content">
						<div class="contentTitle">
							Title here
						</div>
						<div class="contentTitle2">
							You can also use the contentTitle2 class for different title font
						</div>
						<p><br>
							Article contents here
						</p>
					</div>
					<img src="images/IMAGE GOES HERE" alt="IMAGE DESCRIPTION" style="width:200px; height:270px;">
				</div>
			</div>
		</div>
	</body>
</html>